body{
    background:#f8f9fa;
}

/* HERO */

.hero{

    height:100vh;

    background-size:cover;

    background-position:center;

    display:flex;

    align-items:center;
}

.hero-content{

    color:white;

    max-width:650px;
}

.hero h1{

    font-size:70px;

    font-weight:800;

    line-height:1.05;
}

.hero p{

    font-size:26px;

    margin-top:25px;

    color:#f1f1f1;
}

.hero .btn{

    padding:15px 40px;

    font-size:22px;

    border-radius:12px;
}